# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Large data files and models
saved_models/
saved_models_old/

# Other
.DS_Store 